// vendor
@import "normalize";

$ocean-80: #5884ea;
$ocean-40: #e3ebfc;
$ocean-20: #fafbff;

$mint: #19cca3;
$mint-120: #139879;
$mint-40: #b6f2e4;

$black: #000;
$white: #fff;

$heading-font: 'Poppins', sans-serif;
$body-font: 'IBM Plex Sans', sans-serif;

$arrow-size: 10px;

* {
  box-sizing: border-box;
}

body {
  background-color: $ocean-20;
  font-family: $body-font;
}

h1 {
  font-family: $heading-font;
  font-size: 1.4em;
  line-height: 1.3em;
}

form {
  display: flex;
  position: relative;
  &:before {
    color: lighten($black, 70%);
    content: "\0024";
    font-size: 1.1em;
    left: 15px;
    position: absolute;
    top: 15px;
  }
}

input[type=number] {
  border: 1px solid lighten(black, 90%);
  border-radius: 5px 0 0 5px;
  box-shadow: 0px 1px 3px rgba(5,5,5,.1) inset;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 10px 10px 30px;
  width: 66%;
}

button {
  background-color: $mint;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: $white;
  font-weight: bold;
  width: 33%;
  &:hover {
    cursor: pointer;
  }
}

.donation-container {
  margin: 50px;
  width: 33%;
}

.donation-inner {
  background: #FFF;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.1);
  padding: 15px 30px 35px;
  p {
    color: lighten($black, 40%);
    margin-bottom: 2em;
  }
  strong {
    color: $black;
  }
}

.progress-text {
  background-color: $ocean-40;
  border-radius: 5px;
  color: $ocean-80;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: relative;
  &:after {
    border-bottom: 0;
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $ocean-40;
    bottom: -$arrow-size;
    content: '';
    position: absolute;
    right: $arrow-size * 3;
  }
}

.progress-bar-container {
  background-color: $mint-40;
  border-radius: 5px 5px 0 0;
  height: 10px;
  overflow: hidden;
}

.progress-bar {
  background-color: $mint;
  height: 100%;
}

.visually-hidden {
  left: -1000000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.success-message {
  color: $mint-120;
  font-size: 0.75em;
  position: absolute;
  top: -15px;
}
